/* p{
     font-weight: normal;
}

h1{
      font-family: 'Poppins', sans-serif;
      font-weight:500px ;
} */

p{
      font-size: 30px;
      line-height: 30px;
      word-spacing: 30px;
      letter-spacing: 2px;
}
h1{
      font-size: 46px;
      text-decoration:underline dotted  palevioletred;
}