body{
     color: red;
}
.container1{
color: green;
}
.container2{
     color: blue;
     }

/* h1{
     color: orangered;
}   */ 
a{
     color: palevioletred;
     text-decoration: none;
}  